/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





/* MY STYLES */
body {
   /* background-color: rgb(222, 239, 255); */
   background-color: rgb(213, 227, 241);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 18px;
   line-height: 24px;
   background-image: url('../public/assets/CAPITALIZATION.png');
}

textarea, button {
   font-size: inherit;
   font-family: inherit;
}
 .container {
   max-width: 980px;
   margin: 40px auto;
   height: 90vh;
   /* z-index: 10; */
   background-color: rgb(213, 227, 241);
   padding: 10px;
   border-radius: 20px;
   box-shadow: 0px 0px 20px 4px rgba(170, 178, 255, 0.5);
   /* box-shadow: 0px 0px 5px 5px rgba(213, 227, 241); */
   /* border: 1px solid #AAB2FF; */
   /* border: 2px black solid; */
   /* background-color: lightgray; */
   /* color: white; */
 }

 .header {
   text-align: center;
   font-weight: 900;
   font-size: 400px;
   word-wrap: break-word;
   display: block;
   /* height: 100vh; */
   /* width: 100vw; */
   /* position: relative; */
   /* z-index: -1; */
 }

.form {
   background-color: inherit;
   display: grid;
   grid-template-columns: repeat(7, 14.3%);
   grid-template-rows: 3fr 3% 1fr 1fr;
   height: 100%;
   width: 100%;
   /* margin-bottom: 0; */
   /* padding: 10px; */
   /* padding-bottom: 0; */
   /* gap: 10px; */
   /* border: 1px skyblue solid; */
}

.user-input {
   background-color: rgb(242, 248, 255);;
   grid-column: 1 / span 3;
   width: 105%;
   border: 2px solid black;
   border-radius: 23px;
   padding: 10px;
   font-size: inherit;
}

.result {
   background-color: rgb(242, 248, 255);;
   grid-column: 5 / span 3;
   border: 2px solid black;
   right: 42px;
   position: relative;
   width: 105%;
   border-radius: 23px;
   padding: 10px;
   max-height: 423.2px;
   overflow: auto;
   word-wrap: break-word;
   font-size: inherit;
}

.options {
   display: flex;
   width: 100%;
   grid-column: 1 / span 7;
   grid-row-start: 3;
}

label:not(.checkbox-label) {
   justify-self: center;
   cursor: pointer;
   height: 1rem;
   padding: 8px 14px 13px 14px;
   border-radius: 2rem;
   border: 2px solid black;
   width: 200px;
   text-align: center;
   background-color: rgb(222, 239, 255);
   font-size: 17px;
}

.checkbox-label {
   justify-self: center;
   height: 1rem;
   padding: 8px 0px 13px 0px;
   border-radius: 2rem;
   width: 200px;
   text-align: center;
   font-size: 17px;
   position: relative;
   top: -28px;
}

label:hover:not(.checkbox-label) {
   background-color: rgb(226, 236, 246);
}

label:has(.checkbox:checked) {
   background-color: rgb(199, 211, 255);
   border: 2px solid black;
}

.option {
   display: none;
}

.option:checked + label {
   background-color: rgb(199, 211, 255);
}

.special-option {
   display: grid;
   grid-column: 4 / span 1;
   justify-self: center;
}

/* NON-WORKING STYLE WIP */
/* .every-other-letter:checked + label.checkbox-label:hover {
   background-color: rgb(226, 236, 246);
} */

.transform {
   background-color: rgb(43, 115, 183);
   color: white;
   border: 2px solid black;
   grid-column: 4 / span 1;
   border-radius: 96px;
   width: 300px;
   height: 75px;
   justify-self: center;
   grid-row-start: 4;
   align-self: center;
   font-size: 17.5px;
   font-weight: 600;
   text-transform: uppercase;
   cursor: pointer;
}

.down-btn {
   align-self: end;
}


