/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY STYLES */
body {
   font-family: sans-serif;
}

 .container {
   max-width: 960px;
   margin: 40px auto;
   height: 90vh;
   /* background-color: lightgray; */
   /* border: 1px skyblue solid; */
   /* color: white; */
 }

 .form {
   background-color: skyblue;
   display: grid;
   grid-template-columns: repeat(7, 14.3%);
   grid-template-rows: 3fr 3% 1fr 1fr;
   /* margin-bottom: 0; */
   /* padding: 10px; */
   /* padding-bottom: 0; */
   /* gap: 10px; */
   height: 100%;
   /* border: 1px skyblue solid; */
   width: 100%;
 }

 .user-input {
   background-color: cyan;
   grid-column: 1 / span 3;
   /* width: 450px; */
 }

 .result {
   background-color: gold;
   grid-column: 5 / span 3;
   /* grid-column-start: 5; */
   /* grid-column-end: 8; */
   /* width: 450px; */
   border: 2px solid black;
   /* justify-self: end; */
 }

 label {
   justify-self: center;
   cursor: pointer;
   background-color: lightpink;
   height: 1rem;
   padding: 8px 14px;
   border-radius: 1rem;
   border: 2px solid black;
   width: 200px;
   text-align: center;
 }

 .options {
   display: flex;
   width: 100%;
   grid-column: 1 / span 7;
   grid-row-start: 3;
 }

 .option {
   display: none;
 }

 .special-option {
   display: grid;
   grid-column: 4 / span 1;
   justify-self: center;
   /* position: relative; */
 }


 .transform {
   background-color: aquamarine;
   grid-column: 4 / span 1;
   border-radius: 96px;
   width: 300px;
   height: 75px;
   border: 2px solid black;
   justify-self: center;
   grid-row-start: 4;
   align-self: center;
 }

 .down-btn {
   align-self: end;
 }


